// Подключение своих шрифтов.
// Не пишите тут ничего, кроме @font-face

// font-weight: 900 Black
// font-weight: 800 Heavy
// font-weight: 700 Bold
// font-weight: 600 Semibold
// font-weight: 500 Medium
// font-weight: 400 Regular
// font-weight: 300 Thin
// font-weight: 200 Light
// font-weight: 100 Ultralight

// Подключение одного файла шрифта с учетом старых браузеров
@font-face 
  font-family: family-name
  src: url('webfont.eot')                           // IE9 Compat Modes 
  src: url('webfont.eot?#iefix') format('embedded-opentype') // IE6-IE8 
  src: url('../fonts/font.woff2') format('woff2')   // Новейшие браузеры //
  src: url('../fonts/font.woff') format('woff')     // Новые браузеры и IE9+ //
  src: url('../fonts/font.ttf') format('truetype')  // Старые Safari, Android, iOS //
  src: url('../fonts/font.svg') format('svg')
  font-weight: 400
  font-style: normal
