// Глобальные свойства.

html 
  box-sizing: border-box

* 
  box-sizing: inherit

body 
  min-width: 320px
  margin: 0
  font-family: $font-family
  color: $text-color

img 
  width: 100%       /* Ширина изображений */
  height: 100%      /* Высота изображении */
  object-fit: cover /* Вписываем фотографию в область */
