include ../mixins.pug

doctype html
html(class="no-js  page", lang="ru")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="robots" content="noindex, nofollow")

    block meta
      title Home

    block head
      link(rel="stylesheet", href="assets/css/style.min.css")
      link(rel="shortcut icon", href="assets/img/favicon.ico", type="image/x-icon")
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    block page-header
      +page-header()




    block page-header
      +page-footer()

    block page-bottom
      script(src="assets/js/script.min.js")