extends templates/layout.pug

block meta
  title Title
  meta(name='description', content='')

//- block append head
  //- link(rel="stylesheet", href="style.min.css")














//- block append page-bottom
  //- script(src='some.js')
